*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  background-color: red;
}

.main-visial {
  height: 500px;
  width: 100%;
  background-color: orange;
}
main {
  margin: 0 auto;
}

.main {
  height: 1400px;
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: limegreen;
}

.sidebar-left {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.main-content {
  width: 500px;
  background-color: limegreen;
}

.sidebar-right {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

footer {
  height: 100px;
  width: 100%;
  background-color: blue;
}